<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Image</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.category }}</td>
        <td>
          <img [src]="product.image" alt="someimg" height="100" />
        </td>
        <td>
          <div>{{ product.rating.rate }}</div>
          <div>{{ product.rating.count }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
